<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<form th:action="@{/login}" th:object="${user}" th:method="post">
		<table>
			<tr>
				<td>性別</td>
				<td><input class="form-control" type="text" th:value="*{loginid}"
					th:field="*{loginid}" placeholder="ログインIDを入力してください"></td>
			</tr>
			<tr>
				<td>ユーザー名</td>
				<td><input class="form-control" type="text" th:value="*{password}"
					th:field="*{password}" placeholder="password"></td>
			</tr>
		</table>
		<button type="button" class="btn btn-primary">ログイン</button>
		</div>
	</form>

</body>
</html>