<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/researchresult}" th:object="${user}" th:method="post">
		<table>
	<tr><td>性別</td>
				<td><input type="text" th:value="*{icon}" th:field="*{icon}" /></td></tr>
				<tr><td>ユーザー名</td>
				<td><input type="text" th:value="*{username}" th:field="*{username}" /></td>
				</tr>
		</table>
		 <div class="btn_area_center"><input type="submit" value="検索" class="btn"></div>
	</form>
</body>
</html>