<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<h1>検索結果画面</h1>

   <div class="container">
      <h1>Listing Players</h1>
          <div class="container">
        <!-- マージンを上下に設定 -->
        <div class="my-5">
        <!-- 青色ボタンを設定 -->
        </div>
        <hr>
        <a href="/researchinputreturn">データ検索画面に遷移</a>
        <h1 class="my-2">顧客一覧</h1>

                <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>メールアドレス</th>
                <th colspan="2">編集</th>
            </tr>
            <tr th:each="user:${result}">
                <td th:text="${user.loginid}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.username}"></td>
                <!-- 追記2 -->
                <td>
                    <form th:action="@{/userupdata}" method="post" >
                        <input type="hidden" name="loginid" th:value="${user.loginid}">
                        <input type="submit" value="編集" class="btn">
                    </form>
                </td>
                <td>
                    <form th:action="@{/userdelete}" method="post">
                    <input type="submit" value="削除" class="btn">
                       <input type="hidden" name="loginid" th:value="${user.loginid}">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>

